# NATS configuration
# Generate a strong token: openssl rand -hex 32
NATS_TOKEN=
NATS_SERVERS=tls://nats-server:4222
# Client Gateway configuration
CLIENT_GATEWAY_PORT=
TZ=
CORS_ENV=
CORS_ALLOW_DOMAINS=
CORS_ALLOW_IPS=
HCAPTCHA_SECRET=

# Node Mailer configuration for sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
OWNER_EMAIL=